<div class="square twitch" style="margin-bottom: 10px;">
  <span class="one"></span>
  <span class="two"></span>
  <span class="three"></span>
  <div class="circle">
    <p style="margin-top: 15px;">Mohaimen</p>
  </div>
</div>

<div class="containerXL">
  <div class="typing-container">
    <div class="typing-content">
      <div id="dot1" class="typing-dots" style="--delay: 0.1s"></div>
      <div id="dot2" class="typing-dots" style="--delay: 0.2s"></div>
      <div id="dot3" class="typing-dots" style="--delay: 0.3s"></div>
      <div id="dot4" class="typing-dots" style="--delay: 0.4s"></div>
    </div>
  </div>
  <div class="typing-container">
    <div class="typing-content">
      <div id="dot1" class="typing-dots circle" style="--delay: 0.1s"></div>
      <div id="dot2" class="typing-dots circle" style="--delay: 0.2s"></div>
      <div id="dot3" class="typing-dots circle" style="--delay: 0.3s"></div>
      <div id="dot4" class="typing-dots circle" style="--delay: 0.4s"></div>
    </div>
  </div>
  <div class="typing-container">
    <div class="typing-content">
      <div id="dot1" class="typing-dots bar" style="--delay: 0.1s"></div>
      <div id="dot2" class="typing-dots bar" style="--delay: 0.2s"></div>
      <div id="dot3" class="typing-dots bar" style="--delay: 0.3s"></div>
      <div id="dot4" class="typing-dots bar" style="--delay: 0.4s"></div>
    </div>
  </div>
</div>

<div class="bodyButtons">
  <div class="buttons">
    <button class="fill">A</button>
    <button class="pulse">B</button>
    <button class="cls">C</button>
    <button class="raise">D</button>
    <button class="up">E</button>
    <button class="slide">F</button>
    <button class="offset">G</button>
  </div>
</div>

<div class="customBox">content inside</div>

<div class="customTextBox">
  <div class="customContainer svg">
    <div class="customCircle circle-1"></div>
    <div class="customCircle circle-2"></div>
    <div class="customCircle circle-3"></div>
    <div class="customCircle circle-4"></div>
  </div>

  <div class="customContainer border">
    <div class="customCircle circle-1">1</div>
    <div class="customCircle circle-2">2</div>
    <div class="customCircle circle-3">3</div>
    <div class="customCircle circle-4">4</div>
  </div>
</div>

<div class="button-wrapper">
  <div class="floating-btn">
    <div class="pulse-item"></div>
    <div class="pulse-item"></div>
    <span class="material-symbols-outlined icons">+</span>
  </div>
</div>
